footer.footer-wrapper {
  background-color: #fff;
  box-shadow: 0 0 6px #9a9a9a;
}

footer.footer-wrapper .footer > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer.footer-wrapper .footer ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer.footer-wrapper .footer ul li a {
  color: #1F3142;
  font-weight: 700;
  text-decoration: none;
  font-size: 0.9em;
}
